.logo {
    width: 50px;
    margin-right: 5px;
}

.title-text-color {
    color: #503628;
}

.farms-navigation-link {
    /*padding-left: 0.1%;*/
}

.farms-navigation-link:hover {
    color: #eeeeee;
    text-decoration: underline;
}

.farms-ref-link {
    padding-top: 70px;
    margin-top: -70px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.farms-ref-link-2 {
    padding-top: 85px;
    margin-top: -85px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/*.farms-dropdown-navigation-link-colors {
    color: black;
    background-color: #9a6f54;
}*/
